@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 100 900;
  src: url("../public/fonts/OpenSans-VariableFont.ttf");
}

@font-face {
  font-family: "OpenSans";
  font-style: italic;
  font-weight: 100 900;
  src: url("../public/fonts/OpenSans-Italic-VariableFont.ttf");
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: OpenSans, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
